<h1>Welcome to [insert name here]</h1>

<div id='wrap'>
  <header></header>
  
  <div id='content'>
    <section class='input'>
        <%= form_for @room do |f| %>
            <%= f.text_field :name, :placeholder => 'Join a room', :autofocus => true, :pattern => ".{5,20}", :required => true, :title => "5 to 20 characters allowed" %>
        <% end %>

        <% if @room.errors.any? %>
          <div>
            <p><b>Error:</b> Your Room could not be saved:</p>
            <ul>
              <% @room.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
    </section>
  </div>
</div>


<h1>Top 10 Chat Rooms</h1>

<ul id="rooms_container">
  <% @rooms.each do |room| %>
    <%= link_to room.name, room_path(room.id) %>
  <% end %>
</ul>