<h1>Welcome to [insert name here]</h1>

<h1>Join a Room</h1>

<%= form_for @room do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
<% end %>

<h1>Top 10 Chat Rooms</h1>

<ul id="rooms_container">
    <% @rooms.each do |room| %>
        <li><%= link_to room.name, room_path(room.id) %></li>
    <% end %>
</ul>