<h2><%= @room.name %></h2>

<h4>Users in this Room</h4>
<ul id="users">
</ul>

<ul id="messages">
</ul>

<% if user_signed_in? %>

  <form id="msg-form">
    <input type="text" name="text" id="msg-input">
  </form>

<% else %>
  <p>You must sign in to send messages</p>
<% end %>