<h2><%= @room.name %></h2>

<h4>Users in this Room</h4>
<ul id="users">
</ul>

<h4>Messages</h4>
<ul id="messages">
</ul>


<% if user_signed_in? %>

<!--   <form id="msg-form">
    <input type="text" name="text" id="msg-input">
  </form> -->

  <section class='textarea'>
    <form id="msg-form">
      <!-- <textarea cols='1' placeholder="messages.."  id="msg-input"></textarea> -->
      <input type="text" name="text" id="msg-input" required autofocus>
    </form>
  </section>

<% else %>
  <p>You must <strong><%= link_to 'Login', new_user_session_path, :class => 'login' %></strong> to send messages</p>
<% end %>