<h2><%= @room.name %></h2>

<!-- <div>
  <ul id="users"></ul>
</div> -->
<div class="chatroom">
  <div class="participants">
    <h5>Online users</h5>
    <hr class="style">
    <ul id="users" class="participant-list">
      <li id="" class="participant-list-item offline">
        <span class="participant-list-avatar" style="background-image: url();"></span>
        <span class="participant-list-name">Nix</span>
      </li>
    </ul>
  </div>

  <div class="messages_container">
    <ul id="messages"></ul>
  </div>
</div>

<% if user_signed_in? %>
  <section class='textarea'>
    <form id="msg-form">
      <textarea type="text" name="text" id="msg-input" autocomplete="off" placeholder="your message" required></textarea><br><span class="countdown"></span>
      <button id="submit-button" class="button message-button--submit">Send</button>
    </form>
  </section>
<% else %>
  <p>You must <strong><a href="" data-toggle="modal" data-target="#signinModal">Sign in</a></strong> to send messages</p>
<% end %>




<script type="text/underscore-template" id="message_template">
  <div class="indi_msg bg-primary"><p><small class="text"><i class="glyphicon glyphicon-time"></i>{{= date }}</small></p>{{= username }}: {{= text }}</div>
</script>

<script type="text/underscore-template" id="user_template">
  <li class="text-success">{{= username }}</li>
</script>