/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

@import "bootstrap.css";

div.avatar img{
  width: 100px;
  height: 100px;
  margin: 10px auto 30px;
  border-radius: 100%;
  border: 2px solid #aaa;
  background-size: cover;
}

html > body {
  height: 100%;
  font-family: 'Poiret One', cursive;
  font-weight: bold!important;
}

body {
  /*background: url('/assets/background.jpg') center center fixed;*/
  background-size: cover;
}

.logo-container {
  margin: 20px;
}

.logo-container img {
  width: 130px;
}

.toptable {
  margin: 0 auto;
}

.panel {
  padding: 20px;
}

.btn {
  min-width: 80px;
}

.input-group {
  margin: 0 auto;
}

#join_box {
  min-width: 400px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.9;
}

hr.style {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.indi_msg {
  width: 800px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px 25px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  margin-bottom: 5px;
  opacity: 0.9;
}

#msg-input {
  width: 100%;
  display: block;
  overflow: hidden;
  resize: none;
  font: inherit;
  color: #222;
  padding: 10px 15px 10px 10px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.06);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06),0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

#msg-input:focus {
  background-color: rgba(0,0,0,0);
  border-color: transparent;
  box-shadow: none;
}

.button {
  color: #5c9dff;
  border-color: #5c9dff;
  display: inline-block;
  padding: 8px 16px;
  line-height: 1;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  background-color: transparent;
  -webkit-transition: background-color 0.12s ease-out;
  -moz-transition: background-color 0.12s ease-out;
  -o-transition: background-color 0.12s ease-out;
  transition: background-color 0.12s ease-out;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #5c9dff;
  color: white;
}

.message-button--submit {
  /* display: none; */
}

.chatroom {
  padding: 10px;
}


.participants {
  /*position: relative;*/
  max-height: 236px;
  min-width: 200px;
  margin-top: 20px;
  padding: 10px;
  color: #b3b3b3;
  font-size: 14px;
  line-height: 14px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  background-color: whitesmoke;
  opacity: 0.9;
  overflow: auto;
  display: inline-block;
  vertical-align: text-top;
  text-align: center;
}

.participant-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}


/* messages */
.messages_container {
  overflow: auto;
  width: 865px;
  height: 500px;
  padding: 10px;
  border: 1px solid transparent;
  display: inline-block;
  vertical-align: text-top;
}

.textarea {

}

/* for blur */

body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}



.hidden {
  display: none;
}


/* for sign in/signup page */

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;
}

.form-box input#user_email:focus, .form-box input#user_password:focus {
    outline: 0;
    background: #eee;
    border: 1.5px solid #289bc1;
}

.form-box input#user_email {
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input#user_password {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.loginbox{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

