/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require bootstrap
 *= require_tree .
 */

@import "bootstrap.css";

div.avatar img{
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 2px solid #aaa;
}

html > body {
  height: 100%;
  font-family: 'Poiret One', cursive;
  font-weight: bold!important;
}

body {
  background: url('http://static.simpledesktops.com/uploads/desktops/2013/10/29/command2.jpg') center center fixed;
  background-size: cover;
}

.logo-container {
  margin: 20px;
}

.logo-container img {
  width: 130px;
}

.toptable {
  margin: 0 auto;
  opacity: 0.9;
}

.panel {
  padding: 20px;
}

.btn {
  min-width: 80px;
}

.input-group {
  margin: 0 auto;
}

#join_box {
  min-width: 400px;
  border-radius: 5px;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 50px;
  transition: 0.5s;
}

#join_box:focus {
  opacity: 1;
  transition: 0.5s;
  border: 3px solid #488cff;
}

hr.style {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.white {
  color: white;
}

form.button_to {
  display: inline-block!important;
}

.indi_msg {
  width: 800px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  padding: 10px 25px;
  position: relative;
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
  margin-bottom: 5px;
  opacity: 0.9;
  overflow: hidden;
}

#msg-input {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  overflow: hidden;
  resize: none;
  font: inherit;
  color: #ffd223;
  padding: 10px 15px 10px 10px;
  font-size: 20px;
  line-height: 30px;
  border-radius: 10px;
  border: 1px solid rgba(0,0,0,0.1);
  background-color: rgba(0,0,0,0.06);
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.06),0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: background-color 0.1s linear;
  -moz-transition: background-color 0.1s linear;
  -o-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}

#msg-input:focus {
  background-color: rgba(0,0,0,0);
  border: 1px solid transparent!important;
  box-shadow: none;
}

.button {
  color: #5c9dff;
  border-color: #5c9dff;
  display: inline-block;
  padding: 8px 16px;
  line-height: 1;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid #b3b3b3;
  background-color: transparent;
  -webkit-transition: background-color 0.12s ease-out;
  -moz-transition: background-color 0.12s ease-out;
  -o-transition: background-color 0.12s ease-out;
  transition: background-color 0.12s ease-out;
  cursor: pointer;
}

.button:hover, .button:focus {
  background-color: #5c9dff;
  color: white;
}

.chatroom {
  padding: 10px;
}

.countdown {
  color: white;
  float: right;
}


.participants {
  /*position: relative;*/
  max-height: 240px;
  min-width: 240px;
  margin-top: 20px;
  padding: 15px;
  color: #b3b3b3;
  font-size: 14px;
  line-height: 25px;
  border-radius: 6px;
  border: 1px solid #dbdbdb;
  background-color: whitesmoke;
  opacity: 0.8;
  overflow: auto;
  display: inline-block;
  vertical-align: text-top;
  text-align: left;
}

.participant-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.back-to-bottom {
    cursor: pointer;
    position: fixed;
    bottom: 140px;
    right: 13px;
    display: none;
}

.rotate{
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
 
    }   
 
.rotate:hover   
{ 
    -webkit-transform:rotate(360deg);
    -moz-transform:rotate(360deg); 
    -o-transform:rotate(360deg);
} 

/* messages */
.messages_container {
  overflow-y: auto;
  overflow-x:hidden;
  width: 865px;
  height: 500px;
  /*padding: 10px;*/
  border: 1px solid transparent;
  /*border-radius: 10px;*/
  display: inline-block;
  vertical-align: text-top;
}


/* for blur */

body.modal-open #wrap{
    -webkit-filter: blur(7px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
}
  
.modal-backdrop {background: #f7f7f7;}

.hidden {
  display: none;
}


/* Bubble Float Left */
.bubble-float-left {
  display: inline-block;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.bubble-float-left:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: calc(50% - 10px);
  left: 0;
  border-style: solid;
  border-width: 10px 10px 10px 0;
  border-color: transparent transparent transparent transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: left;
  transition-property: left;
}
.bubble-float-left:hover, .bubble-float-left:focus, .bubble-float-left:active {
  -webkit-transform: translateX(5px);
  transform: translateX(5px);
}
.bubble-float-left:hover:before, .bubble-float-left:focus:before, .bubble-float-left:active:before {
  left: -10px;
}

/* Grow */
.grow {
  display: inline-block;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.grow:hover, .grow:focus, .grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* for sign in/signup page */

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;
}

.form-box input#user_email:focus, .form-box input#user_password:focus {
    outline: 0;
    background: #eee;
    border: 1.5px solid #289bc1;
}

.form-box input#user_email {
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input#user_password {
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.loginbox{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

